body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: whitesmoke;
    
}

.top-stripe {
  height: .40em;
  background-image: linear-gradient(to right, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%)
}

p {
  color: black;
  font-size: 20px;
}

img {
  max-width: 100%;
}

.top-30 {
  margin-top: 30px;
}