/*** GENERAL STYLING ***/

/* Eric Meyer CSS reset */
html, body, figure, pre, code, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  background-color: #26293a;
  color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, header {
  font-family: 'Oswald', sans-serif;
}

a {
  color: inherit;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.post--content a {
  color: gold;
  transition: color 0.9s ease;
}

.post--content a:hover {
  color: #F67280;
}

/*** END OF GENERAL STYLING ***/

/*** PAGE LAYOUT ***/

.wrapper {
  display: grid;
  grid-template-areas: 
    "...... header ......" 
    "...... content ......" 
    "footer footer footer";
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 10% auto 10%;
  }
}

@media (min-width: 701px) {
  .wrapper {
    grid-template-columns: 20% auto 20%;
  }
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  display: grid;
  grid-area: footer;
  border-top: 3px solid #6C5B7B;
  margin-top: 20px;
  background-color: #F67280;
  font-size: 14px;
}

/* Large viewport footer */
@media (min-width: 701px) {
  .footer {
    padding-top: 50px;
    grid-row-gap: 10px;
    grid-column-gap: 4%;
    grid-template-columns: 16% 28% 10% 10% 16%;
    grid-template-areas: 
    "...... footer--about footer--links footer--contact ......" 
    "...... footer--copyright footer--copyright footer--copyright ......";
    padding-bottom: 160px;
  }
}

/* Small viewport footer */
@media (max-width: 700px) {
  .footer {
    padding-top: 20px;
    grid-row-gap: 15px;
    grid-template-columns: 10% auto 10%;
    grid-template-areas: 
    "...... footer--about ......" 
    "...... footer--links ......" 
    "...... footer--contact ......" 
    "...... footer--copyright ......";
    padding-bottom: 60px;
  }
}

.footer--links {
  grid-area: footer--links;
}

.footer--contact {
  grid-area: footer--contact;
}

.footer--copyright {
  grid-area: footer--copyright;
}

.footer--about {
  grid-area: footer--about;
}

.footer ul {
  list-style: none;
}

.footer h1 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 15px;
}

/*** END OF PAGE LAYOUT ***/

/*** HOME ***/

/* Large viewport Intro Wrapper */
@media (min-width: 701px) {
  .home--intro-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    "home--intro-wrapper-text home--nav";
  }
}

/* Small viewport Intro Wrapper */
@media (max-width: 700px) {
  .home--intro-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "home--intro-wrapper-text" 
    "home--nav";
  }
}

.home--intro-wrapper-profile-image > img {
  max-width: 100%;
}

.home--intro-wrapper-text {
  grid-area: home--intro-wrapper-text;
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: bold;
}

.home--nav {
  grid-area: home--nav;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.home--nav ul {
  display: flex;
  list-style-type: none;
}

/* Large viewport Home Navigation List */
@media (min-width: 701px) {
  .home--nav ul {
    float: right;
  }
}

/* Small viewport Home Navigation List */
@media (max-width: 700px) {
  .home--nav ul {
    margin-bottom: 20px;
  }
}

.home--nav li {
  padding-right: 10px;
  transition: color 0.9s ease;
}

.home--nav li:hover {
  color: #F67280;
}

.home--latest-posts {
  font-size: 22px;
  margin-bottom: 40px;
}

.home--latest-posts-header {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
}

.home--post-excerpt {
  font-size: 16px;
  border-bottom: 2px solid lightgrey;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: opacity 0.9s ease;
  opacity: 0.5;
}

.home--post-excerpt:hover {
  opacity: 1;
}

.home--post-excerpt > h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
  transition: color 0.9s ease;
  text-decoration: none;
  color: white;
}

.home--post-excerpt:hover > h2 {
  color: gold;
}

.home--post-excerpt > h2 > a {
  text-decoration: none;
}

.home--post-excerpt-date {
  font-size: 14px;
  color: grey;
}

.home--button-more-posts {
  background-color: #6C5B7B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: opacity 0.9s ease;
  opacity: 1;
}

.home--button-more-posts:hover {
  opacity: 0.7;
}

/*** END OF HOME ***/

/*** WRITINGS ***/

.posts--tags-header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

.posts--tags {
  display: grid;
  grid-row-gap: 20px;
  margin-bottom: 60px;
}

/* Large viewport Posts Tags */
@media (min-width: 701px) {
  .posts--tags {
    grid-column-gap: 5%;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
}

/* Small viewport Posts Tags */
@media (max-width: 700px) {
  .posts--tags {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.posts--tag-container > h2 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
  transition: color 0.9s ease;
}

.posts--tag-container {
  transition: opacity 0.9s ease;
  opacity: 0.5;
}

.posts--tag-container:hover {
  opacity: 1;
}

.posts--tag-container:hover > h2 {
  color: gold;
}

.posts--search-area {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "search-container .......";
}

#search-container {
  grid-area: search-container;
  float: right;
}

.search-input {
  border: none;
  padding: 10px 50px 10px 10px;
  font-size: 16px;
}

#results-container {
  margin-top: 15px;
  margin-bottom: 45px;
}

#results-container>li {
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  font-weight: bold;
  transition: opacity 0.9s ease;
  opacity: 0.5;
}

#results-container>li:hover {
  opacity: 1;
  color: gold;
}

/*** END OF WRITINGS ***/

/*** ABOUT ***/

@media (min-width: 701px) {
  .about--wrapper {
    display: grid;
    grid-template-columns: 46% 46%;
    grid-row-gap: 50px;
    grid-column-gap: 4%;
    grid-template-areas: 
    "about--image about--blurb" 
    "about--dev-skills about--dev-skills" 
    "about--side-projects about--side-projects" 
    "about--random-facts about--random-facts";
  }
}

@media (max-width: 700px) {
  .about--wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    grid-template-areas: 
    "about--image"
    "about--blurb" 
    "about--dev-skills" 
    "about--side-projects" 
    "about--random-facts";
  }
}

.about--header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about--random-facts {
  grid-area: about--random-facts;
}

.about--image {
  grid-area: about--image;
}

.about--blurb {
  grid-area: about--blurb;
}

.about--dev-skills {
  grid-area: about--dev-skills;
}

.about--side-projects {
  grid-area: about--side-projects;
}

/*** END OF ABOUT ***/

/*** POST ENTRY ***/

.post--content {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}

.post--header {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  color: gold;
}

.post--content p {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.post--content h1 {
  font-size: 24px;
  font-weight: bold;
}

.post--content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  /* border: 2px solid green; */
}

/*** END OF POST ENTRY ***/

img {
  max-width: 100%;
}

.highlight {
  overflow: scroll;
}

@media (max-width: 700px) {
  svg { 
    width: 100%; 
    height: auto; 
  }
}