<noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
<div class="footer">
  <div class="footer--about">
    <h1>Andrew Hiles</h1>
    <p>I'm Andrew. A 29 year-old Software Engineer based in Northern Ireland. Currently working for Liberty Information Technology.</p>
    <p>When I'm not procrastinating, I'm usually tinkering, trying to learn new things. If you aren't bored yet, learn more <a href='{{ site.baseurl }}/about'>here</a>.</p>
  </div>
  <div class="footer--links">
    <h1>Resources</h1>
    <ul>
      <li><a href="https://github.com/andrewhiles">GitHub</a></li>
      <li><a href="https://stackoverflow.com/users/2156496/andrewhiles">StackOverflow</a></li>
    </ul>
  </div>
  <div class="footer--contact">
    <h1>Contact</h1>
    <ul>
      <li><a href="mailto:me@andrewhil.es?Subject=Hello" target="_top">Email</a></li>
      <li><a href="https://twitter.com/hiler88">Twitter</a></li>
      <li><a href="https://instagram.com/hiler88">Instagram</a></li>
    </ul>
  </div>
  <div class="footer--copyright">
    <p>(c) <script type="text/javascript">document.write(new Date().getFullYear());</script> <a href='{{ site.baseurl }}/'>andrewhil.es</a></p>
  </div>
</div>
</div>
</body>

</html>
